<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='icone_page.png') }}" type="image/x-icon">
    <title>Register</title>
    <!-- External CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Internal CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container">
            <a class="navbar-brand rounded p-2 bg-primary text-light fs-5 fw-bold font-monospace" href="#">PFA</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            AHP <img src="{{ url_for('static', filename='la-prise-de-decision.png') }}" alt="AHP Icon" style="width: 20px; height: 20px;">
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            Topsys <img src="{{ url_for('static', filename='choix.png') }}" alt="Topsys Icon" style="width: 20px; height: 20px;">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Registration Form -->
    <div class="container col-md-6">
        <div class="card mt-5">
            <h1 class="text-center mt-4 fs-4 font-monospace">Register New User or Login Existing Account</h1>
            <div class="card-body">
                <form action="{{ url_for('register') }}" method="post">
                    <div class="mb-3">
                        <label for="fullname" class="form-label">Your Name</label>
                        <input type="text" class="form-control" id="fullname" name="fullname" placeholder="Enter your Name">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Your Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter your Email">
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" name="username" placeholder="Enter your Username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                    </div>
                    <div class="mb-3">
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </div>
                    <div class="d-grid gap-2">
                        <input type="submit" class="btn btn-primary btn-lg" value="Register">
                    </div>
                </form>
                <p class="text-center mt-3">Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>

    {% if success %}
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const successAlert = document.querySelector('.alert-success');
            if (successAlert) {
                setTimeout(() => {
                    window.location.href = "{{ url_for('login') }}";
                }, 1000); // Redirect after 3 seconds
            }
        });
    </script>
    {% endif %}
</body>
</html>
